.filtro-container
{
  height: 25vh;
  background-color: var(--color6);
  margin-bottom: 1vh;

  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.filtro-titulo{
  text-align: center;
  background-color: var(--color3);
  color: var(--color1);
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;}

.filtro-container {
  display: flex;
  justify-content: space-between;
}

.columna {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-left: 1px solid black;
}

.filtro-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container {
  margin-left: 10px;
}

.label-container {
  width: 15vw; /* Ajusta el ancho según sea necesario */
}

input,option,select
{
  height: 2.5vh;
  width: 12vw;
  font-size: 2vh;
  background-color: var(--color1);
  border-color: var(--color1);
}
