<div class="filtro-container">
  <div class="columna">
    <div class="filtro-item">
      <div class="label-container">
        <label for="codigoEtiqueta">Código de Etiqueta:</label>
      </div>
      <div class="input-container">
        <input type="text" id="codigoEtiqueta" name="codigoEtiqueta">
      </div>
    </div>
    <div class="filtro-item">
      <div class="label-container">
        <label for="tipoLectura">Tipo de Lectura:</label>
      </div>
      <div class="input-container">
        <input type="text" id="tipoLectura" name="tipoLectura">
      </div>
    </div>
    <div class="filtro-item">
      <div class="label-container">
        <label for="donde">Donde:</label>
      </div>
      <div class="input-container">
        <input type="text" id="donde" name="donde">
      </div>
    </div>
    <div class="filtro-item">
      <div class="label-container">
        <label for="tipoRAEE">Tipo de RAEE:</label>
      </div>
      <div class="input-container">
        <input type="text" id="tipoRAEE" name="tipoRAEE">
      </div>
    </div>
  </div>
  <div class="columna">
    <div class="filtro-item">
      <div class="label-container">
        <label for="marca">Marca:</label>
      </div>
      <div class="input-container">
        <input type="text" id="marca" name="marca">
      </div>
    </div>
    <div class="filtro-item">
      <div class="label-container">
        <label for="modelo">Modelo:</label>
      </div>
      <div class="input-container">
        <input type="text" id="modelo" name="modelo">
      </div>
    </div>
    <div class="filtro-item">
      <div class="label-container">
        <label for="peso">Peso:</label>
      </div>
      <div class="input-container">
        <input type="text" id="peso" name="peso">
      </div>
    </div>
    <div class="filtro-item">
      <div class="label-container">
        <label for="descripcionResiduo">Descripción del Residuo:</label>
      </div>
      <div class="input-container">
        <input type="text" id="descripcionResiduo" name="descripcionResiduo">
      </div>
    </div>
  </div>
</div>
